extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel interdum ante. Vivamus velit nibh, consequat id vestibulum quis, rutrum ut lacus. Aenean sit amet leo et libero mollis tempus. Pellentesque nec lacus quam. Vestibulum sollicitudin elit in maximus auctor. Ut vitae mi a tellus semper pulvinar. 
                p Nunc tincidunt massa urna, quis porta augue eleifend nec. Proin id augue leo. Fusce in libero nulla. Vestibulum euismod libero ex. Aenean massa velit, imperdiet sit amet turpis eu, auctor molestie ante. In nulla nibh, feugiat id commodo at, aliquam a turpis. Aenean molestie erat quis porttitor auctor.
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt=" imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes  
   
    .descuento 
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales                  