extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Praesent dui sapien, volutpat sed lacinia vitae, blandit vitae massa. Quisque ut purus consectetur, hendrerit augue vitae, cursus mi. Ut ornare magna a nisi blandit ullamcorper. Aenean pretium, dolor eu placerat placerat, risus justo gravida felis, a eleifend mi dolor nec diam. Duis ullamcorper egestas purus, posuere porttitor erat placerat quis. Etiam at orci sit amet elit finibus imperdiet. Vivamus iaculis  

                p Donec at volutpat erat, quis sagittis felis. Nulla facilisi. Proin lacinia euismod arcu eu blandit. In ullamcorper arcu viverra laoreet consectetur. Donec eu eleifend ex. Nulla dictum orci sed pulvinar dignissim. Fusce dictum egestas quam, a eleifend libero mollis id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam et ullamcorper velit. Sed vitae est ut tellus egestas rhoncus

                p Quisque sodales tincidunt nunc, eget maximus orci auctor eu. Ut porta purus ut augue posuere sollicitudin. Quisque eleifend enim in laoreet pulvinar. Nunc pharetra, nisl dignissim mattis sodales, tortor lorem accumsan nisl, id faucibus elit nisl eget lacus. Nulla ullamcorper rutrum enim, vel interdum nisl. Nullam pharetra sit amet lectus eget sollicitudin. 
    
    .lista-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Donec eu eleifend ex. Nulla dictum orci sed pulvinar dignissim. Fusce dictum egestas quam, a eleifend libero mollis id. Orci


                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p  Donec eu eleifend ex. Nulla dictum orci sed pulvinar dignissim. Fusce dictum egestas quam, a eleifend libero mollis id. Orci


                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p  Donec eu eleifend ex. Nulla dictum orci sed pulvinar dignissim. Fusce dictum egestas quam, a eleifend libero mollis id. Orci        



